/* Text  */
.text-center {
  text-align: center;
}
.heading-small {
  font-size: 1.25rem;
}
.heading-medium {
  font-size: 1.5rem;
}
.heading-large {
  font-size: 1.75rem;
}

/* Colors */
.bg-darker-green {
  background-color: #023020;
}
.bg-dark-green {
  background-color: #4ba670;
}
.bg-light-green {
  background-color: #67c189;
}
.bg-logo-color {
  background-color: #8abe53;
}

/* Buttons */
.btn {
  margin-top: 1.2rem;
  padding: 0.8rem 3rem;
  border-radius: 7px;
  letter-spacing: 0.75px;
  font-size: 0.75rem;
  background-color: white;
}
.btn:hover {
  background-color: lightgray;
}
.btn-primary {
  background-color: #4ba670;
}
.btn-primary:hover {
  background-color: white;
  color: #4ba670;
  border: 0.5px solid #4ba670;
}
.btn-dark {
  background-color: #333;
}
.btn-dark:hover {
  background-color: white;
  color: #333;
  border: 0.5px solid #333;
}
.btn-block {
  width: 100%;
  text-align: center;
}

/* Container */
.container {
  margin: 0 auto;
}
